@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

body {
    font-family: arial;
    font-size: 20px;
    text-align: justify;
    color: #000000;
    background-color: #f4f1de;
    padding: 0;
    margin: 0;
}

body img {
    padding: 30px;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;

    /* 
    justify-content: space-between;
    padding: 1px;
    */
    
    background-color: #edb935;
}

nav h1 {
    font-family: 'Gaegu', sans-serif;
    color: #ae0202;
    font-size: 70px;
    position: flex;
    left: 200px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    /* margin-inline-start: 1000px; */
}

nav ul li {
    font-family: 'Gaegu', sans-serif;
    font-size: 30px;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #ae0202;
}

nav ul li a:hover {
    color: #000000;
}

h2 {
    font-family: 'Gaegu', sans-serif;
    font-size: 40px;
    color: #ae0202;
    margin: 20px;
}

p {
    margin: 30px;
}

div ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 0;
}

div ul li {
    display: flex;
    align-items: center;

}

div ul li a {
    text-decoration: none;
    color: #000000;
    margin: 20px;
    margin-left: 0;
}

ul li img {
    margin-right: 0;
}

footer {
    position: flex;
    bottom: 0;
    width: 100%;
    height: 170px;
    text-align: center;
    font-size: 15px;
    color: #000000;
    background-color: #edb935;
}

footer p {
    padding: 0;
}

footer a {
    text-decoration: none;
    color: #000000;
}

